@page "/games"
@using global::App.Services.Games.Common.Dtos


@inject IApiService ApiService

<h3>Games</h3>

<div class="grid">



    @if (games != null)
    {
        @foreach (var game in games)
        {
            <div class="g-col-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@game.Name</h5>
                        <p class="card-text">@game.Discription</p>

                        <ul>
                            @foreach (var genre in game.Genre)
                            {
                                <li>@genre</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
    }
</div>


@code
{
    List<GameDto> games;

    protected override async Task OnInitializedAsync()
    {
        var response = await ApiService.GetAllGames();
        games = response.GameDtos?.ToList() ?? new List<GameDto>();
    }
}
