@inject ISessionStore SessionStore
@inherits ComponentBase

<div>
    <EditForm Model=@Model OnSubmit=@OnSubmit>
        <div class="mb-3">
            <label for="email" class="form-label">Email / Username</label>
            <InputText type="password" class="form-control" id="email" @bind-Value=Model.Username />
            <div id="emailHelp" class="form-text">We'll never share your password with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <InputText type="password" class="form-control" id="password" @bind-Value=Model.Password />
        </div>
        @*<div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>*@
        <button type="submit" class="btn btn-primary" value="Save">Submit</button>
    </EditForm>
</div>

@code {
    FormModel Model = new();

    async Task OnSubmit(EditContext context)
    {
        await SessionStore.Login(Model.Username, Model.Password);
    }

    public class FormModel
    {
        public string Username { get; set; }

        public string Password { get; set; }
    }
}