:root {
    --custom-font: 'Inter', var(--bs-font-sans-serif);
    --custom-display-font: 'Space Grotesk', var(--bs-font-sans-serif);
}

* {
    font-family: var(--custom-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--custom-display-font);
}
